{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    h3, h6{
        font-weight: bold;
    }
    #end{
        margin-bottom: 100px;
    }
</style>
<h1 style="text-align: center; margin-top: 10px;">ABOUT BALLS AND PADDLES</h1>
<br>
<h3 style="color: #3d7bb2;">Online Shop</h3>
<h6>Product</h6>
<p class="text-secondary">You can find an interesting range of selected products in the online shop. Most of the products are the ones that I have tried and liked or the ones that I want to try (if I cannot sell them, I can still slowly consume them). I am trying to expand the range of my product line so that it can be a one-stop place for table tennis fans. The selection of the products will be based on other players’ recommendations and the reviews online.</p>
<p class="text-secondary">I have not updated all the products. Now I have more varieties, such as Xushaofa and Nittaku balls, Nittaku and DHS edge tapes, DHS/Sword/Yinhe blades and so on. You can check out my listings on Carousell for information.</p>
<h6>Price</h6>
<p class="text-secondary">You will find the prices reasonable as they are calculated with a pricing model based on product cost, shipping cost and the website maintenance fees with a relatively low margin.</p>
<h6>Payment Method</h6>
<p class="text-secondary">Payment can be done through credit card, bank transfer or PayLah.</p>
<h6>Delivery</h6>
<p class="text-secondary">Products are delivered via SingPost. $1.5 for normal mail or $4 for registered mail needs to be paid by the buyers. Free registered mail is provided for orders of $80 and above and free normal mail is provided for orders of over $20. If I am in Singapore, I would post the item same day or the second day morning after the orders have been placed. It usually takes 2-5 working days for the items to be delivered.</p>
<h6>Deals</h6>
<p class="text-secondary" id='end'>Freebies might be given depending on the order value and what is left. Small referral bonus (freebie+discount) will be given to you and your friend when you refer them to BALLS AND PADDLES</p>
{% endblock %}